@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    padding: 0;
    margin:0;
    border: 0;
}

    
body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;

    font-family:'DM Serif Text';
    background-color:#26200B;
    color:#DFCA55;
}
nav{
    width: fit-content;
    margin: auto;
}

nav li{
    display: inline-block;
    margin: -50px 5px;
    position: relative;
    bottom: 30px;
}

h1{
    color: #F2DE77;
    font-size: 60px;
    

    
}

header h1 {
    position: relative;
    bottom: 20px;

    margin-left: 200px;
}

h2{
    color:#F2DE77;
    font-size: 25px;
}

#edu{
    text-align: center;
   

}
#cau{
    text-align: center;
    
}
#sos p {
    width: 800px;
    position: relative;
    margin: auto;
}

#ha{
    text-align: center;
    
}
header{
    background-color:#8C7327 ;
    height: 100px;
    position: sticky;
    top: 0px;
    z-index: 99;
    grid-column: 1/13;
}
nav svg{
    height: 20px;
    margin-right: 6px;
}

section, footer {
    margin:auto;
    position: relative;
}

section{
    margin: 100px auto;
    grid-column: 3/11;
}

nav li a{
    color: aliceblue;
    position: relative;
    bottom: 10px;

    display: flex;
    align-items: center;
}
#hero img{
    border-radius: 50%;
    border:5px solid #8C7327 ;
    margin-bottom: 100px;
}
#hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom:3px solid rgb(235, 235, 199);

    grid-column: 1/13;

    height: 100vh;
    margin-top: 0px;
}

#sobre{
    width: 800px;
  
    position: relative;
    margin: auto;
}

    
#hero h1{
    font-size: 80px;
    width: 30%;
}
.paragrafo h2{
    font-size: 50px;
   
   

}

.paragrafo p{
   
    font-size: 20px;
    text-align: justify;

}

.paragrafo{
    font-size: 20px;
}

#curios{
    margin-top: 300px;
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;

    margin-bottom: 100px;
}

#curios h2 {
    margin-bottom: 30px;
    grid-column: 1/9;
}

.card img{
    width: 90%;
    height: 300px;
    border: 2px solid ;
    object-fit: cover;
    border-radius: 10px;

    
}

.card{
    grid-column: span 4;
    background-color: #F2E18D;
    border-radius: 10px;
    z-index: 1;
    transition: .1s ease-in;

    padding: 20px 0;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.card:hover{
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    z-index: 2;
    scale: 1.1;
}
.card p {
    color: #26220F;
    text-align: center;
    margin: 10px 0 0 0;
}

#cao{
    margin-top: 300px;
}
#sos{
    margin-top: 300px;
}

    

#habi{
    background-color:#260b0170 ;
    border:1px solid white;
    margin: 300px;
    text-align:left;
    padding: 20px;

}
#habi li{
    margin: 10px;
    bottom: 30px;
}
#habi ul{
    list-style-type: none;
}

#edu{
    
    margin: 100px;
}
table{
    font-size: 20px;
    background-color: white;
    margin: auto;
}
table td,th{
    border: 1px solid black;
}
table td,th{
    color: #26200B;
}
footer{
    border-top:2px solid white;

    margin-bottom: 0px;    
    text-align: center;

    width: 100%;
    height: 200px;

    grid-column: 1/13;
}
footer svg{
    height: 20px;

}
footer ul {
    list-style-type: none;
}
footer a {
    color: #DFCA55;
}

#titulo2{
    
    font-size: 20px;
}



